.whole-container {
  font-family: 'Shadows Into Light', cursive;
  color: black;
  background-color: rgba(255, 102, 0, 0.399);
  width: 1050px;
  height: 800px;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.description {
  background-color: rgba(255, 102, 0, 0.399);
  margin-left: 35%;
  margin-top: -55%;
  padding-bottom: 100px;
}
/* .current-book-cover {

}

.current-book-title {

}

.current-book-author {

} */
