.review-box {
  height: 100px;
  width: 350px;
  font-family: 'ITC Bookman Light';
  overflow-wrap: normal;
  font-size: 20px;
  font-display: top;
  background-color: rgba(252, 170, 116, 0.35);
  
}
@media screen and (max-width: 425px) {
  .review-box {
    flex-direction: column;
  }
}