/*GenreSelect Component*/
/* .botton-container {
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* text-align: center; */
  /* width: 50px;
  height: 10px;
  margin-left: 35%;
  background-color: rgba(235, 129, 102, 0.488);

} */ 

