header {
  font-family: 'ITC Bookman Light';
  box-sizing: border-box;
  justify-content: space-around; 
  text-align: center;
  padding: 10px;
  text-align: left;
  width: 100vw;
  height: fit-content;
  
}

.header-o {
  position: absolute;
  height: 10px;
  top: 0;
  left: 0;
  font-family: 'ITC Bookman Light';
  color: rgba(255, 119, 0, 0.803);
  text-shadow: 2px 2px  rgba(255, 119, 0, 0);
  font-size: 270px;
  margin: -50px 40px;
  
}

.header-title {
  font-family: 'ITC Bookman Light';
  text-shadow: 2px 2px black;
  color: rgba(255, 119, 0, 0.803);
  font-size: 100px;
  width: fit-content;
  margin: 0px 0 0 350px;
  display: inline;
}
.obc {
  height: 70px;
  width: 90px;
  float: right;
  margin: 35px;
}
@media screen and (max-width: 425px) {
  header {
    flex-direction: column;
  }
}