header {
  display: flex;
  flex-direction: column;
}

.header-o {
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
}

.header-title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 55px;
}