body {
  background-image: url('https://image.freepik.com/free-photo/opened-book-bible-background_112554-164.jpg');
  background-repeat: no-repeat;
  font-family: 'Shadows Into Light', cursive;
  background-size: cover;
  background-color: black;
  width: 600px;
  height: 1400px;
}

.current-club-selection {
  font-family: 'Shadows Into Light', cursive;
  color: white;
}

/* .book-cover {

}

.title {

}

.author {

} */



