body {
  background-image: url("https://image.freepik.com/free-photo/opened-book-bible-background_112554-164.jpg");
  background-repeat: no-repeat;
  font-family: 'ITC Bookman Light';
  background-size: cover;
  background-color: black;
  width: 500px;
  height: 1000px;
}

.current-club-selection {
  font-family: 'ITC Bookman Light';
  color: white;
}

.whole-container {
  height: 100px;
  width: 800px;
  grid-template:
    [row1-start] "buttons buttons buttons" 25px [row1-end]
    [row2-start] "buttons buttons buttons" 25px [row2-end]
    / auto 50px auto;
}
